<!DOCTYPE html>
<html lang="zh-Hant">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<title>Document</title>
		<meta name="robots" content="index, follow" />
		<base target="_self" />
		<meta name="description" content="" />
		<meta name="author" content="Rocky Wu" />
		<link rel="stylesheet" href="/styles/style.css" />
	</head>
	<body>
		<header>
			<h1>歡迎光臨，請輸入帳號密碼</h1>
		</header>
		<section>
			<h1>登入系統</h1>
			<form action="/signin" method="POST">
				<label>帳號</label>
				<input
					type="text"
					id="username"
					name="username"
					placeholder="會員帳號"
				/>

				<label>密碼</label>
				<input
					type="password"
					id="password"
					name="password"
					placeholder="會員密碼"
				/>
				<button type="submit">登入</button>
			</form>

			<hr />

			<h1>計算正整數的平方</h1>
			<form>
				<label>正整數</label>
				<input type="text" />
				<button class="square" type="submit">計算</button>
			</form>
		</section>
	</body>
	<script>
		let add = document.querySelector(".square");
		add.addEventListener("click", (e) => {
			e.preventDefault();
			let form = e.target.parentElement;
			let inputData = form.children[1].value;
			window.location.href = "/square/" + inputData;
		});
	</script>
</html>
